
	<h2> --- The App Update --- </h2>
	<h3> General Changes v4.2</h3>
	<p> - Disable only-paragram protection </p>
	<p> - Rename some strangely-named vars </p>
	<p> - You can now access openInject0r from SERVER/bookmark </p>
	<p> - Registration tokens are not needed now. </p>

 	<h3> General Changes v4.1</h3>
	<p> - Added Background size to BGEdit </p>
	<p> - Added Taskbar size to BGEdit </p>
	<p> - Began work on a new bookmarklets app</p>
 	<p> - Began work on new general settings app</p>
	<p> - Added about:blank version </p>
 
	<h3> General Changes v4.0 </h3>
 	<p> - Added BGEdit app </p>
	<p> - Began support for custom user apps </p>
	<p> - Began work on major settings overhaul </p>
 
	<h2> --- The Blizzard Update --- </h2>
 <h3> General Changes v3.3 </h3>
 <p> - Inject0r server filesystem sorted </p>
 <p> - Snow added for christmas </p>
 <p> - Small bugfixes</p>
 <h3> General Changes v3.2 </h3>
 <p> - Merry Christmas! 🎁🔔🎄 </p>
 <p> - New Fully loaded FAST proxy Service Enjoy :) </p>
 <p> - Apps now load / spawn in middle of screen. </p>
 <p> - New Xmas themed icon! </p>
 <p> - Inject0r cloud guest file nosave warn added </p>
 <p> - Inject0r cloud UI update </p>
 <p> - Console logging (server side) for errors </p>
 <h3> General Changes v3.1</h3>
 <p> - Logging and .gitignore (for replit.nix)</p>
 <p> - New login UI </p>
 <h3> General Changes v3.0</h3>
  <p> - Cleaner Bookmark </p>
  <p> - Devs can now fix bookmark server side </p>
	<p> - Better UI [Coming Soon]</p>
	<p> - More themes [Coming Soon]</p>
 	<p> - Cleaner link (inject0r.repl.co)</p>
	
<br>
<br>
<h3> Administeration Changes </h3>
<style>
tr:nth-child(even) {background-color: #87F1DA;}
tr:nth-child(odd) {background-color: #93E5E9;}
th {
  background-color: #90A1C8;
  color: white;
}
</style>
<table>
<tbody>
<tr>
<td>&nbsp;Role</td>
<td>&nbsp;User</td>
<td>&nbsp;Inject0r User&nbsp;</td>
</tr>
<tr>
<td>&nbsp;Owner&nbsp;</td>
<td>&nbsp;Paragram#0121&nbsp;</td>
<td>&nbsp;paragram&nbsp;</td>
</tr>
<tr>
<td>&nbsp;Communications Dept Head&nbsp;</td>
<td>&nbsp;ironswordX#1594&nbsp;</td>
<td>&nbsp;&nbsp;</td>
</tr>
<tr>
<td>&nbsp;UI Developer&nbsp;</td>
<td>&nbsp;Jake378#6783&nbsp;</td>
<td>&nbsp;&nbsp;</td>
</tr>
<tr>
<td>&nbsp;ExploitHub Developer&nbsp;</td>
<td>&nbsp;mrphi05#7192&nbsp;</td>
<td>&nbsp;username-pass&nbsp;</td>
</tr>
</tbody>
</table>
  
  <h3> Developer Updates </h3>
  <p style="font-weight: bold">[Major]: New injector object - important information stored there.</p>
  `